#editor{
    position: fixed;
    border: solid 1px darkgrey;
    padding: 25px;
    width: 400px;

}

.editor-row{
    margin-bottom: 5%;
}

.post-description{
    border-right: solid 1px #ff911e;
    border-left: solid 1px #ff911e;
    padding-right: 3px;
    padding-left: 3px;
    font-weight: bold;
    font-size: 16px;
}

.fat-border{
    border-right: solid 8px #ff911e;
    border-left: solid 8px #ff911e;
    padding-right: 2%;
    padding-left: 2%;
}

.post-underline{
    text-decoration: underline;
    font-size: 18px;
}

.post-under-picture{
    font-weight: bold;
    font-size: 12px;
}

.post-warning{
    border-top: solid 1px #ff911e;
    border-bottom: solid 1px #ff911e;
    padding-top: 2%;
    padding-bottom: 2%;
}

.post-title{
    font-size: 22px;
}