/*карточка поста*/
.post-preview-row {
    border: 1px solid #E0E0E0;
    margin-bottom: 4%;
}

.post-preview-photo {
    padding: 2%;
}

.post-preview-title {
    border-bottom: 1px solid #FF9933;
}

.post-preview-title a{
    font-size: 20px;
    font-weight: bold;
    color: #222222;
    text-decoration: none;
}
.post-preview-title a:hover{
    color: #34aaf4;
}
/*конец карточка поста*/

/*Стили для интерфейса*/

/*!!! Стили для навигационного меню !!!*/

/* цвет фона и рамки навигационного меню */
.navbar-default {
    background-color: #ff911e;
    border-color: #FFFFFF;
}
/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-weight: bold;
}

.navbar-default .navbar-nav {
    margin-right: 1%;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}
/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-size: 17px;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: rgba(255, 125, 21, 0.82);
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #e09819;
    background-color: #FFFFFF;
}
/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #e09819;
    background-color: #e09819;
}
/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}
/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed;
}
/* Цвет стрелочки (треугольничка), открывшегося пункта меню */
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed;
}
/* CSS стили для мобильных устройств */
/* Цвет рамки у кнопки, которая открывает меню */
.navbar-default .navbar-toggle {
    border-color: #27ae60;
}
/* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #27ae60;
}
/* Цвет полосочек в кнопочке, которая открывает меню */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
/* Цвет пунктов меню в раскрывающихся списках */
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    /* Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d1ffed;
        background-color: #27ae60;
    }
}

/*Конец Стили для навигационного меню*/

/*Футер*/
.footer {
    background-color: #0B2840;
    /*padding: 0%;*/
    border-color: #0B2840;
    color: #ffffff;
}

.content{
    /*padding: 1%;*/
    padding-top: 0%;
    padding-bottom: 1%;

}

.footer-society {
    padding-top: 1%;
}

.footer-society a{
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

.footer-society a:hover{
    color: #34aaf4;
}

/*Конец Футер*/
