.post-view{
    font-size: 18px;
}
.post-description{
    border-right: solid 1px #ff911e;
    border-left: solid 1px #ff911e;
    padding-right: 3px;
    padding-left: 3px;
    font-weight: bold;
    font-size: 16px;
}

.fat-border{
    border-right: solid 8px #ff911e;
    border-left: solid 8px #ff911e;
    padding-right: 2%;
    padding-left: 2%;
}

.post-desc-picture{
    font-size: 12px;
    font-style: italic;
}

.post-underline{
    text-decoration: underline;
    font-size: 18px;
}

.post-under-picture{
    font-weight: bold;
    font-size: 12px;
}

.post-warning{
    border-top: solid 1px #ff911e;
    border-bottom: solid 1px #ff911e;
    padding-top: 2%;
    padding-bottom: 2%;
}
.post-view{
    border-left: solid 1px #E0E0E0;
    border-right: solid 1px #E0E0E0;
}
.post-title{
    font-size: 22px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.post-icons{
    padding: 1%;
}

.post-pictures{
    border: solid 1px #E0E0E0;
    margin-bottom: 2%;
    width: 150px;
    margin-right: 1%;
}

.post-pictures-focus {
    border: solid 2px #000ae0;
    background-color: rgba(0, 0, 0, 0.16);
    margin-bottom: 2%;
}

.post-pictures-in-post{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 1%;
}

.post-main-picture{
    position: relative;
    display: inline-block;
}
.post-main-picture h1{
    position: absolute;
    display: inline-block;
    top:0%;
    left: 0%;
    margin-top: 0;
    padding: 2%;
    color: #ffffff;
    background-color: rgba(0,0,0,0.68);
}

@media screen and (max-device-width: 768px) {
    .post-main-picture h1{
        font-size: 18px;
        top:100%;
        left: 0%;
        background-color: rgba(255, 125, 21, 0.73);
    }

    .post-main-picture {
        margin-bottom: 80px;
    }
}

.post-text-tag{
    background-color: #ff911e;
    color: #ffffff;
    border-radius: 5px;
    padding-right: 3px;
    padding-left: 3px;
}

.post-main-content{
    padding-left: 2%;
    padding-right: 2%;
}

.post-table{
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
    font-size: 20px;
}

.post-table-title{
    background-color: #ff911e;
    height: 24px;
}
.post-table-usual{
    border-bottom: solid #ff911e 1px;
    text-align: center;
}


.post-text-indent{
    text-indent: 1em;
}